* {
    margin: 0;
    padding: 0;
}
html, body {
    font-size: 20px;
    background-color: #d3d1d1;
}


.App {
    margin: 20px;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: column;
   
}
.texto {
    margin: 10px;
}
.lista {
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #000000;
    background-color: #fff;
    min-width: 400px;
    height: fit-content;
}


